
2. Scripts/.Rhistory
.Rhistory
.RData
3. Stores/~$tabla_descripcion.xlsx
1. Documentos/~$lución Taller 1.docx
1. Documentos/Solución Taller 1.docx
1. Documentos/~WRL0003.tmp
3. Stores/~$descriptivas.xlsx
3. Stores/~$Labels.xlsx
1. Documentos/Documentos - Acceso directo.lnk
1. Documentos/Documentos - Acceso directo.lnk
1. Documentos/Documentos - Acceso directo.lnk
